langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-core
langchain-groq
langchain-text-splitters
langchain-classic
langgraph
chromadb
sentence-transformers
streamlit
python-dotenv
pypdf
groq